<!-- fixed div-->
    <div class="hw-fixed-heading log-clr-backgrnd">
        <div class="row p-flex">
			<div class="col-lg-8 c-flex">
				<h2 class="gotham-rounded-light hw-main-heading clr-white h-approch">We love to be your technology partners</h2>
			</div>
			<div class="col-lg-4 upskill-filter all c-flex clearfix">
				<span><button class=" job-board-btn job-btn custom-btn heading-custom-btn" data-toggle="collapse" data-target="#demo1">TALK TO US</button></span>
			</div>
		</div>
    </div>
<!-- end of fixed tab-->