.blog-context
{

	background-color: rgb(237,237,237);

}
.blog-img
{

	width:100%;

   
}

.col-top
{

	padding-top:20px;
}

.col-right
{

	padding-right:0px;
}
.col-left
{

	padding-left:0px;
}
.blog-container
{


}

.blog-context-rt{
	height:30%;
	background-color: rgb(237,237,237);
}
.blog-img-rt
{
   height:70%;
   width:100%;
}

.blog-title{

	font-family:gotham-rounded-bold;
	font-size:24px;
	padding:20px;
}



.blog-description{


	font-family:gotham-rounded-book;
	font-size:15px;
	padding-left:20px;
}

.blog-date{

font-family:gotham-rounded-light;
	font-size:15px;
	padding-left:20px;
	padding-top:30px;
	padding-bottom:10px;

}



		.tag-cloud li {

			padding:10px;
			float:left;
			margin: 15px;
			border: 1px solid #474e5d;
			cursor: pointer;
			margin: 15px;
			
		}

.tag-container{
margin-top: 35px;
			margin-bottom: 35px;

}		




.post-title{

	font-family:'gotham-rounded-book';
	font-size:21px;
	margin:40px 0px;
}

.post-content{

font-family:'gotham-rounded-light';
font-size:20px;

}

.hw-post-info {
			margin-top: 35px;
			margin-bottom: 35px;
		}

		.hw-post-info li {
			font-size: 1.13rem;
			font-family:'gotham-rounded-light';
			color: #6f6f6f;
			float: left;
			padding: 5px 10px;
			margin: 15px;
			border: 1px solid rgb(246,246,246);
			background-color: rgb(246,246,246);
			cursor: pointer;
		}


