/*contact*/
    .contact{

    	padding: 15px 20px 15px 20px;
        background-color: #0ab4c5;
        font-family: 'gotham-rounded-book';
        font-size: 18px;
        color: #545454;
        	
    }
/*End of contact*/

/*header-search*/
    #credits input {
        -webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.2) inset;
        -o-box-shadow:0 0 3px rgba(0, 0, 0, 0.2) inset;
        -ms-box-shadow:0 0 3px rgba(0, 0, 0, 0.2) inset;
        box-shadow:0 0 3px rgba(0, 0, 0, 0.2) inset;
        background: transparent;
    }

    #credits .search{
        color: #fff;
        font-size: 20px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    	background-color: #79c2e2;
        border: none;
    }
/*End of header-search*/

/*footer*/
    .footer{
        height: 120px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer-copyrt
    {
        font-family: 'gotham-rounded-light';
        font-size: 14px;
    	padding-left: 100px;
    	padding-top:20px;
    	padding-bottom :20px;
    }

    .social-icons{
        margin-right: 35px;
    }
/*footer*/


/*carousel*/
.testimonial
{

display:block;
background-color:rgb(105,180,219);
font-family:'gotham-rounded-book';
font-size:20px;
color:white;
padding:15px 33px 15px 33px;
    border-radius: 5px;

}

.testimonial-ol
{
border-radius: 5px;
    font-size: 0px;
    position: absolute;
    top: -22px;
    left: auto;
    border: 1px solid;
    bottom: auto;
    right: 0;
    width: auto;
    margin: 0;
    padding: 3px;
    padding-right: 3px;
    padding-left: 3px;
    border-color: rgb(199,199,199);
}


#consulting-testimonial-first .carousel-indicators li {
     background-color: rgb(199,199,199);
     width: 12px;
    height: 12px;
}
 #consulting-testimonial-first .carousel-indicators .active {
   background-color: #69B4DB;
   width: 12px;
    height: 12px;
    margin:1px;
}

.carosel-pos
{

margin-top: 80px;

}

.arrow-down {
       left: 365px;
    width: 0px;
    height: 0;
    border-right: 32px solid transparent;
    border-top: 37px solid #69B4DB;
    position: absolute;
}
.name-align
{
       margin-top: 30px;
        margin-left: 200px;

}


.textvalignmiddle {
    display: inline-block;
    vertical-align: middle;
}


/*carousel*/





