how to make a div vertically align:

<div class="row">
	<div class="col-lg-7"></div>
	<div class="col-lg-5"></div>
</div>


now row is the parent sofor that :

.row-class 
{
display:table;
}

.col-lg-7-class {
display: table-cell;
float: none;
vertical-align : middle;
}

.col-lg-5-class {
display: table-cell;
float: none;
vertical-align : middle;
}


else insead creat a class for the col and include it in all col



