/* fonts */
	@font-face {
		font-family:'gotham-rounded-bold';
		src: url(../font/gotham-rounded-bold.otf);
	}
	@font-face {
		font-family:'gotham-rounded-book';
		src: url(../font/gotham-rounded-book.otf);
	}
	@font-face {
		font-family:'gotham-rounded-light';
		src: url(../font/gotham-rounded-light.otf);
	}
	@font-face {
		font-family:'gotham-rounded-book-italic';
		src: url(../font/gotham-rounded-book-italic.otf);
	}
	@font-face {
		font-family:'gotham-rounded-light-italic';
		src: url(../font/gotham-rounded-light-italic.otf);
	}
/* end of fonts */

/* general css */
	*, p {
		margin:0px;
		padding: 0px;
	}

	a:focus,
	a:hover,
	.btn:focus, 
	.btn.focus, 
	.btn:active:focus, 
	.btn.focus:active, 
	.btn.active:focus, 
	.btn.active.focus {
		outline: none;
		outline-offset: 0;
		text-decoration: none;
		color: #545454;
	}

	.btn:active,
	.btn.active {
		box-shadow: none;
	}

	.form-control:focus {
		border-color: #ccc;
		box-shadow: none;
	}

	.gotham-rounded-bold {
		font-family: "gotham-rounded-bold";
	}
	.gotham-rounded-bok {
		font-family: "gotham-rounded-book"; 
	}
	.gotham-rounded-light {
		font-family: "gotham-rounded-light"; 
	}
	.gotham-book-italic {
		font-family: "gotham-rounded-book-italic"; 
	}
	.gotham-light-italic {
		font-family: "gotham-rounded-light-italic"; 
	}

	.font-12 {
		font-size: 12px;
	}
	.font-14 {
		font-size: 14px;
	}
	.font-18 {
		font-size: 18px;
	}
	.font-20 {
		font-size: 20px;
	}
	.font-22 {
		font-size: 22px;
	}
	.font-30 {
		font-size: 30px;
	}  
	.font-40 {
		font-size: 40px;
	}
	.font-34 {
		font-size: 34px;
	}
	.h2-color {
		color: #545454;
	}
	.log-color-blue {
		color: #0AB4C5;
	}
	.log-color-pink {

	}
	
	.clr-white {
		color: #fff;
	}
	.cntr-fluid-padding {
		padding-right: 0px;
		padding-left: 0px;
	}
	.div-border-left {
		border-left: 5px solid  #0AB4C5;
		position: relative;
		margin: 25px 0 20px;
	}
	.div-border-left:before {
		content: "";
		position: absolute;
		width: 5px;
		height: 8px;
		background-color: #fff;
		top:0;
		left: -5px;
	}
	.div-border-left:after {
		content: "";
		position: absolute;
		width: 5px;
		height: 8px;
		background-color: #fff;
		bottom:0;
		left: -5px;
	}
	.log-clr-backgrnd {
		background-color: #0AB4C5;
	}
	.active-color {
		color: #c9443d;
	}
	.custom-btn {
		padding:15px 55px;
		color: #fff;
		font-size: 14px;
		font-family: "gotham-rounded-bold";
		background-color: #ee2b7b;
		text-transform: uppercase;
		border: none;
		box-shadow: -3px 3px 3px grey;
	}
	.hr-display {
		display: table;
		margin: 0 auto;
	}
/* end of general css */

/* engage page */
	.navbar-header .navbar-brand {
		padding-top: 10px;
	}

	.navbar-brand svg {
		height: 30px;
	}

	.hw-engage-cont {
		margin: 20px 0 55px;
	}

	.hw-engage-cont .img-outer {
		margin-top: 28px;
	}

	.div-margin-left {
		margin-left: 100px;
		margin-right: 100px;
	}

	.div-margin-left > .hw-engage-cont:last-child {
		margin: 20px 0 20px;
	}

	.para{
		color: #7e7e7e;
		margin-left: 35px;
	}
	.client-backgrnd {
		background-color: #f4f4f4;
		padding-top: 10px;
		padding-bottom: 50px;
		margin-top:15px;
	}
	.carousel-control.left {
    	background-image:none;
    }
    .carousel-control.right {
    	background-image:none;
    }
    .angle-clr {
    	color:#ccc1c1;
    }
    .carousel-border {
    	border-top: 3px solid #dcdcdc;
    	border-bottom:  3px solid #dcdcdc;
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
	}
	.carousel-width {
		width: 3%;
		text-shadow:none;
		margin-top: 18px;
	}
	.h-approch {
		padding-left: 100px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.clients-img {
		padding-top: 23px;
		padding-bottom: 23px;
	}
	.clients-icon-rite {
		padding-right:55px;
	}
	.row-top-mar {
		margin-top: 100px;
	}
	.img-right {
		float: right;
	}
	
/* end of engages page */

/* it services */

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		border-bottom: 2px solid red;
		color:red;
		border-top: none;
		border-right: none;
		border-left: none;
	}
	.nav>li>a:focus, .nav>li>a:hover{
		background-color: transparent;
	}
	.nav-tabs>li>a:hover {
	    border-color: transparent;
	}
	.nav-tabs>li>a {
		color: #d3d3d3;
	}
	.nav-tabs {
		border-bottom: none;
	}

/* end of it services*/	
  

