.company-btm {
	border-bottom: 3px solid #f0f2f4;
	padding-top:30px;
	margin-bottom: 50px;
}
.company-para {
	color: #ee2b7b;
	padding: 30px 0px 18px 0px;
}
.company-fa {
	color: #242830;
	font-size: 35px !important;
}
.company-det {
	padding-bottom: 30px;
}
.company-abt {
	margin: 76px 0px 42px;
}
.drop-line {
    margin: 60px 0px 28px;
}
.drop-text {
	padding:0px 0px 20px;
}
.company-carousel .carousel-indicators {
	bottom: 30px;
}
.company-carousel .carousel-indicators li {
	background-color: #474e5d;
	border: none;
}
.company-carousel .carousel-inner img {
	width: 100%;
	position: relative;
}
.company-carousel .carousel-indicators .active {
  background-color: #0AB4C5;
  border-color: transparent;
  height: 12px;
  margin: 0;
  width: 12px;
}
.company-height {
	height: 594px !important;	
}
.banner-text2 {
	position: absolute;
	top: 10%;
	left: 15%;
}
.banner-text1 {
	position: absolute;
	bottom: 20%;
	left: 28%;

}




/* job board map */

	.direction {
	
	}

/* end of job board map */