{% include header.html %}





<main>

       
	<h1 class="text-center gotham-rounded-bok heading"> Casestudy</h1>


	

   		<div class="carousel-padding">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

	   		<div class="container heading-caro-padd">
			    <!-- Wrapper for slides -->
			    <div class="carousel-inner" role="listbox">

			      {% for cont in site.data.Carousel.carousel.carousel_content%}
							       {% if forloop.first %}
							  	<div class="item active">
							      <p class=" gotham-rounded-bok font-30">
							       {{ cont.content}}
							      </p>
							    </div>
								{% else %}
							   <div class="item">
							       <p class=" gotham-rounded-bok font-30">
							       		 {{ cont.content}}
							      	</p>
							    </div>
								{% endif %}
							    {% endfor %}
			    
			    </div>

			</div>

			<a class="left carousel-control carousel-indicatr-pos" href="#myCarousel" role="button" data-slide="prev">
			 <img src="/assets/img/solutions/carousel-indi-1.jpg">
			<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control carousel-indicatr-pos" href="#myCarousel" role="button" data-slide="next">
			<img src="/assets/img/solutions/carousel-indi.jpg">
			<span class="sr-only">Next</span>
			</a>
	 	</div>
	 	</div>
	<!-- end of carousel-->
	

	<div class="line">
	</div>
	<!--tabs-->

      <div class="container hw-casestudy-filter">



       
       <ul class="tagcloud">
       	<li data-value="all">
			<ul>
				<li class="tagname " >All</li>
				<li class="tagvalue arrow-left"><span class="arrow-border"></span>23</li>
			</ul>
		</li>
			
		<li data-value="SOA">
			<ul>
				<li class="tagname" >{{page.category1}}</li>
				<li class="tagvalue arrow-left"><span class="arrow-border"></span>23</li>
			</ul>
			{{site.casestudy.size}}
			{% assign groups = site.casestudy | group_by: "category"  %}
			{%assign count=0 %}
			
			{% for group in groups %}
       


    {{group.name}} - {{group.items.size }}


       

    
        
   
   
{%endfor%}
{{count}}
		</li>

		
		<li data-value="Micro Services">
			<ul>
				<li class="tagname " >{{page.category2}}</li>
				<li class="tagvalue arrow-left"><span class="arrow-border"></span>23</li>
			</ul>
		</li>

		<li data-value="ETL">
			<ul>
				<li class="tagname ">{{page.category3}}</li>
				<li class="tagvalue arrow-left"><span class="arrow-border"></span>23</li>
			</ul>
		</li>

		<li data-value="Application Development">
			<ul>
				<li class="tagname" >{{page.category4}}</li>
				<li class="tagvalue arrow-left"><span class="arrow-border"></span>23</li>
			</ul>
		</li>
	</ul>
      
</div>


 

	

	<div class="container-fluid cs-cntr-mar " >
       
		{% assign myArray = {{page.category1}}|{{page.category2}}|{{page.category3}}|{{page.category4}} | split: "|" %}


		{% for item in myArray %}
               {% assign casestudy = site.casestudy | where: "category", item %}
            {% for project in casestudy %}
    
    {% assign mod = forloop.index | modulo: 3 %}
    {% if mod == 1 %}
        <!-- even -->
       
     
                 <div class="row casestudy-cont-filter {{ project.category}} all" >
			<div class="col-lg-8 col-rite equal-height-col">

				<div class="banner">
					<img src="/assets/img/case_study/banner1.jpg">
					<div class="cs-arrow-left cs-arrow"></div>
				</div>
			</div>


              <div class="col-lg-4 equal-height-col" >
				<div>
					<h6 class="text-center gotham-rounded-bok font-18"> {{ project.name }} </h6>
					<p class="font-14  gotham-rounded-light cs-para">{{ project.description }}</p>

					<div class="hr-display">
						<button class="custom-btn" data-toggle="modal" data-target="#myModal"> LEARN MORE</button>
					</div>
				</div>
			</div>

		</div>


		{% elsif mod == 2 %}
        <!-- even -->
     
                 <div class="row casestudy-cont-filter {{ project.category}} all"  >
			

              <div class="col-lg-4 equal-height-col">
				<div >
					<h6 class="text-center gotham-rounded-bok font-18"> {{ project.name }} </h6>
					<p class="font-14  gotham-rounded-light cs-para">{{ project.description }}</p>

					<div class="hr-display">
						<button class="custom-btn" data-toggle="modal" data-target="#myModal"> LEARN MORE</button>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-8-left equal-height-col">

				<div class="banner">
					<img src="/assets/img/case_study/banner1.jpg">
					<div class="cs-arrow-right cs-arrow"></div>
				</div>
			</div>


			
		</div>


    {% else %}
        <!-- mod==0 -->


	<div class="row casestudy-cont-filter {{ project.category}} all"  >
			<div class="col-lg-4 equal-height-col col-rite">
				<div class="banner">
						<img src="/assets/img/case_study/banner3.jpg">
					<div class="cs-arrow-left cs-arrow"></div>
				</div>
			</div>
			<div class="col-lg-4 equal-height-col">
				<div>
					<div class="text-center">
						<img src="/assets/img/case_study/eye.jpg" alt="eye">
					</div>
					<h6 class="text-center gotham-rounded-bok font-18"> {{ project.name }} </h6>
					<p class="font-14  gotham-rounded-light cs-para">{{ project.description }}</p>
					<div class="hr-display">
						<button class="custom-btn" data-toggle="modal" data-target="#myModal"> LEARN MORE</button>
					</div>
				</div>	
			</div>
			<div class="col-lg-4 equal-height-col">
				<div class="banner">
					<img src="/assets/img/case_study/banner4.jpg">
				</div>
			</div>
		

      
               

             

			
</div>
		

    {% endif %}
{% endfor %}
{% endfor %}






		

	</div> 





	</main>	

{% include footer.html %}
