{% include header.html %}

<main>

	<!-- indicators -->
		<ul class="scroll-indicators">

			<li class="active" data-tab="1">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label gotham-rounded-light">What we do</span>
				</a>
			</li>
			<li data-tab="2">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label gotham-rounded-light">Blog</span>
				</a>
			</li>
			<li data-tab="3">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label gotham-rounded-light">Products</span>
				</a>
			</li>
			<li data-tab="4">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label gotham-rounded-light ">What we offer</span>
				</a>
			</li>
			
		</ul>
	<!-- End of indicators -->

	<div class="hw-scroll">

		<section class="scroll-anim active" data-value="1">
			<div>
				<div class="hm-text hm-text1">
					<h1 class="text-center gotham-rounded-bok hw-carousel-heading clr-white">{{site.data.Home_page.home_page.banner1[0].title}}</h1>
					<p class="hw-heading gotham-rounded-light clr-white text-center">{{site.data.Home_page.home_page.banner1[0].content}}</p>
				</div>
				
			</div>
		</section><!-- end of section1-->

		<section class="scroll-anim" data-value="2">
			<div>
				<div class="hm-text latest-think">
					<h1 class="gotham-rounded-bok hw-carousel-heading">{{site.data.Home_page.home_page.banner2[0].title}} </h1>
					<p class="hw-para gotham-rounded-light">{{site.data.Home_page.home_page.banner2[0].content1}} </p>
					<p class="hw-para gotham-rounded-light">{{site.data.Home_page.home_page.banner2[0].content2}} </p>
					<p class="dive "><a href="/blog" class="text-uppercase gotham-rounded-bold">{{site.data.Home_page.home_page.banner2[0].link}} </a></p>
				</div>
				
			</div>
		</section><!-- end of section-->

		<section class="scroll-anim app-banner" data-value="3">
			<!-- Transparent triangle -->
				<div class="triangle top"></div>
				<div class="triangle bottom"></div>
			<!-- End of Transparent triangle -->

			<div class="cust-hap">
				<div class="container">
					<div class="row blog-main">
						<div class="col-md-6 col-xs-12 blog-content">
							<div id="port-bol-banner">
					            <div id="shell">
					              <img class="hidden-xs" src="/assets/img/bol/bol_right.png" data-xrange="150" data-yrange="0" data-invert="true" id="plax-sphere-1"/>
					              <img class="mobile-view" src="/assets/img/bol/bol_center.png" data-xrange="0" data-yrange="0" id="plax-sphere-2"/>
					              <img class="hidden-xs" src="/assets/img/bol/bol_left.png" data-xrange="150" data-yrange="0" data-invert="false" id="plax-sphere-3"/>
					            </div>
					        </div>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="hm-text latest-think">
								<h1 class="gotham-rounded-bok hw-carousel-heading">{{site.data.Home_page.home_page.banner3[0].title}} </h1>
								<p class="hw-para gotham-rounded-light">{{site.data.Home_page.home_page.banner3[0].content}}</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section><!-- end of section3-->

		<section class="scroll-anim" data-value="4">
			
				<div class="hm-text latest-think hm-service">
					<h1 class=" gotham-rounded-bok hw-carousel-heading">{{site.data.Home_page.home_page.banner4[0].title}}</h1>
					<p class="hw-para gotham-rounded-light">{{site.data.Home_page.home_page.banner4[0].content}}</p>
					<p class="dive "><a href="/service_delivery" class="text-uppercase gotham-rounded-bold">{{site.data.Home_page.home_page.banner4[0].link}}</a></p>

					<div class="application">

						<div class="appln">
							<p class="clr-white gotham-rounded-bok hr-display">Application<br> Statergies</p>
						</div><!-- end of appln-->
							
							<div class="appln-statergies hide">
								<div class="hm-arrow"></div>
								<p class="gotham-rounded-bok">We are your value partners, explore... </p>
								<div class="col-lg-6">
									<ul class="gotham-rounded-light hw-contact-no">
										<li>Experience Design</li>
										<li>Agile Thinking</li>
										<li>Borderless Business</li>
										<li>Engineering Practice</li>
										<li>Intelligent Infrastructure</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="gotham-rounded-light hw-contact-no">
										<li>Software Intelligence</li>
										<li>Eco-system Connected</li>
										<li>Fluid Architecture</li>
										<li>Business on cloud</li>
									</ul>
								</div>		
							</div>

						<div class="it-solution">
							<p class="clr-white gotham-rounded-bok hr-display">IT Solutions</p>
						</div>
						
						<div class="it-solutions hide">
							<div class="hm-arrow hm_it"></div>
							<p class="gotham-rounded-bok">Our IT Solutions</p>
							<div class="col-lg-3">
								<ul class="gotham-rounded-light hw-contact-no">
									<li>Platform Integration</li>
									<li>SOA</li>
									<li>Micro Services</li>
									<li>ETL</li>
									<li>Data Processing</li>
								</ul>
							</div>
							<div class="col-lg-3">
								<ul class="gotham-rounded-light hw-contact-no">
									<li>Engineering Practice</li>
									<li>DevOps</li>
									<li>Performance Engg.</li>
									<li>Test Automation</li>
									<li>Agile Testing</li>
								</ul>
							</div>	
							<div class="col-lg-3">
								<ul class="gotham-rounded-light hw-contact-no">
									<li>Mobility/Big Data</li>
									<li>Enterprise Mobility</li>
									<li>Operational Analytics</li>
									<li>Predictive Analysis</li>
									<li>Consumer Apps</li>
								</ul>
							</div>
							<div class="col-lg-3">
								<ul class="gotham-rounded-light hw-contact-no">
									<li>UI/UX</li>
									<li>Visual Design</li>
									<li>FrontEnd Dev.</li>
									<li>Data Visualization</li>
									<li>Reporting Dashboard </li>
								</ul>
							</div>			
						</div>
					</div><!-- end of application-->	
				</div>
			
				
			
		</section><!-- end of section4-->

		

				{% include homepage-head.html %}

	</div>
</main>	



{% include footer.html %}
<script type="text/javascript">
          $(document).ready(function () {
            $('#shell img').plaxify()
            $.plax.enable()
          })
        </script>  