{% include home-header.html %}
<main>

	<!-- indicators -->
		<ul class="scroll-indicators hide-scroll">

			<li class="active" data-tab="1">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label gotham-rounded-light">What we do</span>
				</a>
			</li>
			<li data-tab="2">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label gotham-rounded-light">What we offer</span>
				</a>
			</li>
			<li data-tab="3">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label gotham-rounded-light">Blog</span>
				</a>
			</li>
			<li data-tab="4">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label gotham-rounded-light ">Products</span>
				</a>
			</li>
			
		</ul>
	<!-- End of indicators -->

	<div class="hw-scroll">

		<!--section1-->


			
		<section class="scroll-anim active" data-value="1">

			<div class="menu-hamberger" id="toggle">
                <img src="/assets/img/landingpage/menu.svg" >
			</div>
			 <nav id="toc" class="on menu-hide" style="right: 0px;">
    <p style="text-align:right;padding:10px;color:white;cursor: pointer" id="button1">&#10006;</p>
        <ul>
            <li>
                <a href="/portfolio">Portfolio</a></li>
            <li>
                <a class="active" href="/engage_us">Engage&nbspUs</a></li>
            <li>
                <a href="/casestudy">Case&nbspStudy</a></li>
            <li>
                <a href="/company">Company</a></li>
            <li>
                <a href="/blog">Blog</a></li>
        	<li>
                <a href="/job_board">Job&nbspBoard</a></li>
       		
        </ul>
   </nav>
              


			
			
			<!-- <img class="banner1-anim-icons svg-anim-icon1" src="/assets/img/landingpage/icons/Clock_Plus.svg"> -->
		<!-- 	<img class="banner1-anim-icons svg-anim-icon2" src="/assets/img/landingpage/icons/Data_Science.svg"> -->
			<!-- <img class="banner1-anim-icons svg-anim-icon3" src="/assets/img/landingpage/icons/Designer_Compass.svg">
			<img class="banner1-anim-icons svg-anim-icon5" src="/assets/img/landingpage/icons/Globe.svg">
			<img class="banner1-anim-icons svg-anim-icon6" src="/assets/img/landingpage/icons/Graph.svg">
			<img class="banner1-anim-icons svg-anim-icon7" src="/assets/img/landingpage/icons/Idea.svg">	
            <img class="banner1-anim-icons svg-anim-icon8" src="/assets/img/landingpage/icons/Chat.svg"> -->
          <!--   <img class="banner1-anim-icons svg-anim-icon9" src="/assets/img/landingpage/icons/Desktop_1.svg"> -->
           <!--  <img class="banner1-anim-icons svg-anim-icon10" src="/assets/img/landingpage/icons/keyword1.svg">
            <img class="banner1-anim-icons svg-anim-icon11" src="/assets/img/landingpage/icons/Mobile.svg">    
 -->
            

			
		
			<!-- <img class="banner1-anim-icons svg-anim-icons33" src="/assets/img/landingpage/icons/Designer_Compass.svg">
			<img class="banner1-anim-icons svg-anim-icons44" src="/assets/img/landingpage/icons/Desktop.svg">
			<img class="banner1-anim-icons svg-anim-icons55" src="/assets/img/landingpage/icons/Globe.svg"> -->
		<!-- 	<img class="banner1-anim-icons svg-anim-icons66" src="/assets/img/landingpage/icons/Graph.svg"> -->
		
           <!--  <img class="banner1-anim-icons svg-anim-icons88" src="/assets/img/landingpage/icons/Chat.svg">
            <img class="banner1-anim-icons svg-anim-icons99" src="/assets/img/landingpage/icons/plugins1.svg">
            <img class="banner1-anim-icons svg-anim-icons100" src="/assets/img/landingpage/icons/Devops.svg">
            <img class="banner1-anim-icons svg-anim-icons111" src="/assets/img/landingpage/icons/Mobile.svg"> 

 -->
          <!--   <img class="banner1-anim-icons svg-anim-icons122" src="/assets/img/landingpage/icons/Graph.svg">
			<img class="banner1-anim-icons svg-anim-icons133" src="/assets/img/landingpage/icons/Idea.svg">
            <img class="banner1-anim-icons svg-anim-icons144" src="/assets/img/landingpage/icons/Chat.svg">
           <img class="banner1-anim-icons svg-anim-icons166" src="/assets/img/landingpage/icons/Devops.svg">
            <img class="banner1-anim-icons svg-anim-icons177" src="/assets/img/landingpage/icons/Mobile.svg"> 
            <img class="banner1-anim-icons svg-anim-icons188" src="/assets/img/landingpage/icons/Clock_Plus.svg">
			<img class="banner1-anim-icons svg-anim-icons199" src="/assets/img/landingpage/icons/Data_Science.svg">
			<img class="banner1-anim-icons svg-anim-icons211" src="/assets/img/landingpage/icons/Designer_Compass.svg">  -->
			<!--  <img class="banner1-anim-icons svg-anim-icons222" src="/assets/img/landingpage/icons/Chat.svg"> -->
			<!--  <img class="banner1-anim-icons svg-anim-icon233" src="/assets/img/landingpage/icons/Globe.svg"> -->


			<!--  <img class="banner1-anim-icons svg-anim-icons244" src="/assets/img/landingpage/icons/Clock_Plus.svg">
			<img class="banner1-anim-icons svg-anim-icons255" src="/assets/img/landingpage/icons/Data_Science.svg">
			<img class="banner1-anim-icons svg-anim-icons266" src="/assets/img/landingpage/icons/Designer_Compass.svg">
			<img class="banner1-anim-icons svg-anim-icons277" src="/assets/img/landingpage/icons/Desktop.svg">
			<img class="banner1-anim-icons svg-anim-icons288" src="/assets/img/landingpage/icons/Globe.svg">
			<img class="banner1-anim-icons svg-anim-icons299" src="/assets/img/landingpage/icons/Graph.svg">
			<img class="banner1-anim-icons svg-anim-icons300" src="/assets/img/landingpage/icons/Idea.svg">	
  -->





			<div class="banner1-text">
				<h1 class="gotham-rounded-bold hw-main-heading clr-white">WE # ON</h1>
				<h2>DevOps<span class="orange-bullet"></span>DataOps<span class="orange-bullet"></span>DataScience<span class="orange-bullet"></span>Ui/Ux<span class="orange-bullet"></span>Mobility</h2>
				<hr class="home-hr">
				<div class="hm-text clr-white hm-text1">
						<!-- <h3 class="text-center gotham-rounded-bok hw-carousel-heading clr-white">{{site.data.Home_page.home_page.banner1[0].title}}</h1> -->
						<h2 class="clr-white text-center">{{site.data.Home_page.home_page.banner1[0].content}}</h2>
				</div>
			</div>

	
			
		</section>
			

		<!-- end of section1-->

		<!-- section4-->
		<section class="scroll-anim" data-value="2"  id="banner-sky">
			<div class="menu-hamberger" id="toggle1">
                <img src="/assets/img/landingpage/menu.svg" >
			</div>
			 <nav id="toc" class="on menu-hide1" style="right: 0px;">
    <p style="text-align:right;padding:10px;color:white;cursor: pointer" id="button2">&#10006;</p>
         <ul>
            <li>
                <a href="/portfolio">Portfolio</a></li>
            <li>
                <a class="active" href="/engage_us">Engage&nbspUs</a></li>
            <li>
                <a href="/casestudy">Case&nbspStudy</a></li>
            <li>
                <a href="/company">Company</a></li>
            <li>
                <a href="/blog">Blog</a></li>
        	<li>
                <a href="/job_board">Job&nbspBoard</a></li>
       		
        </ul>
   </nav>
              
		</section>
		<!-- end of section4-->

		<!-- section2 -->
			<section class="scroll-anim " data-value="3">
				<div class="menu-hamberger" id="toggle">
                <img src="/assets/img/landingpage/menu.svg" >
			</div>
	
		          <div class="container-fluid blog-banner">
		          	{% assign my_variable = 0 %}
		          	{% for post in site.posts | sort: 'date'  %}

		          	{% if my_variable == 0 %}
		            <div class="row " >
		              	<div class="col-lg-4 blog1-div1" >
		              	
			                <div class="expand-the-div half-height" id="blog1-div1-part1">
			                  <div  class="part1">
			                    <img class="blog-img" src="/assets/img/landingpage/dev.svg">
			                    <div class="animate-arroww">
			                      <img class="main-animate-arrow" src="/assets/img/landingpage/Arrow.png" alt="">
			                    </div>  
			                        <p class="text-center gotham-rounded-bold clr-white header-links blog-category">{{post.category}}</p>
			                  </div>
			                  <div class="part2">
			                  	  <p class="gotham-rounded-bok hw-para clr-white  hr-display">
			                      {{post.blog_title}}
			                    </p> 
			                    <p class="gotham-rounded-light clr-white blog-mar">
			                      {{post.The_New_Use_Experience}}
			                    </p>  
			                    <a href="{{post.permalink}}" class="blog-a">Read more</a>      
			                  </div>
			                </div> 

		                </div>


		              <div class="col-lg-4 blog1-div2">
		              	 {% elsif my_variable == 1 %}
		                <div class=" half-height " id="blog1-div2-part1">
		                  <div   class="part1" >
		                    <!-- <img class="blog-img" src="/assets/img/landingpage/Sample_Outline_Icon.png"> -->
		                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="220px" height="180px" class="blog-pencil" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
<image display="none" overflow="visible" width="800" height="600" xlink:href="../AppData/Roaming/Skype/live#3az3vigneshwar/media_messaging/media_cache_v2/^34740BF95C8C8AACA9CC393466AD43301712DC1C80F17EB8D1^pimgpsh_fullsize_distr.png"  transform="matrix(1 0 0 1 -143.9946 -56.9985)">
</image>
<g>
	<path fill="none" stroke="#48484A" stroke-width="10" stroke-miterlimit="10" d="M291.763,206.597
		c18.095,7.402,18.095,19.405,0,26.807c-18.094,7.404-47.432,7.404-65.523,0c-18.097-7.402-18.097-19.405,0-26.807
		C244.331,199.192,273.669,199.192,291.763,206.597z"/>
	<path fill="none" stroke="#0AB4C5" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" d="M217.199,174.735
		c-12.29-0.001-22.247-9.96-22.247-22.246c0-12.287,9.957-22.246,22.247-22.248c12.284,0,22.246,9.959,22.245,22.246v78.1"/>
	<path fill="none" stroke="#F9A719" stroke-width="10" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" d="
		M288.898,100.888c-16.766,0-30.358,13.593-30.358,30.357v106.697"/>
	
		<circle fill="none" stroke="#0AB4C5" stroke-width="12" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" cx="257.283" cy="71" r="9.051"/>
	<circle fill="#0AB4C5" cx="221.217" cy="34.333" r="7.051"/>
	<circle fill="#EE2B7B" cx="197.884" cy="109.667" r="7.051"/>
	<circle fill="#F9A719" cx="310.551" cy="75.667" r="7.051"/>
	<circle fill="#F9A719" cx="274.616" cy="253" r="3.718"/>
	<circle fill="#F9A719" cx="245.949" cy="271.666" r="2.051"/>
	<circle fill="#EE2B7B" cx="259.217" cy="13.667" r="7.051"/>
	<path fill="none" stroke="#EE2B7B" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" d="M321.808,161.49
		c0-12.287-9.958-22.246-22.247-22.248c-12.284,0-22.246,9.959-22.245,22.246v76.1"/>
	<g>
		<path fill="#F9A719" d="M219.75,279.25l-0.625,114.875c0,0,44.875,32.375,79.875-3.125V278c0,0-11-22-28.5-14.5
			S253.5,276.5,219.75,279.25z"/>
		<polyline fill="#CFCBA7" points="259,411 259,490.333 296.439,400.938 		"/>
		<path fill="none" stroke="#48484A" stroke-width="10" stroke-miterlimit="10" d="M299,398V232c0,0-44,17-80-1v167
			C219,398,252,419,299,398z"/>
		<line fill="none" stroke="#48484A" stroke-width="10" stroke-miterlimit="10" x1="243" y1="307" x2="243" y2="406"/>
		<line fill="none" stroke="#48484A" stroke-width="10" stroke-miterlimit="10" x1="270" y1="334" x2="270" y2="404"/>
		<path fill="none" stroke="#48484A" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10" d="M298.277,400.592
			l-36.612,86.06c-1.597,3.744-4.181,3.744-5.775,0l-36.612-86.06"/>
		<polygon fill="#48484A" points="246,462 272,462 258.334,485.667 		"/>
	</g>
</g>
</svg>
		                   
		                        <p class="text-center gotham-rounded-bold clr-white header-links blog-category">We Are The Thinkers</p>
		                  </div>
		                  <!-- <div class="part2">
		                    <p class="gotham-rounded-light clr-white">
		                      {{post.The_New_Use_Experience}}
		                    </p>  
		                    <a href="{{post.permalink}}">Read more</a>    
		                  </div> -->
		                </div>    
		                  
		              </div>
		              <div class="col-lg-4 blog1-div3" >
		              	 {% elsif my_variable == 2 %}
		                <div class=" half-height "  id="blog1-div3-part1">
		                  <div   class="part1" >
		                    <img class="blog-img" src="/assets/img/landingpage/ui.svg">
		                    <div class="animate-arroww">
		                      <img class="main-animate-arrow" src="/assets/img/landingpage/Arrow.png" alt="">
		                    </div>  
		                        <p class="text-center gotham-rounded-bold clr-white header-links blog-category">{{post.category}}</p>
		                  </div>
		                  <div class="part2">
		                  	 <p class="gotham-rounded-bok hw-para clr-white  hr-display">
			                      {{post.blog_title}}
			                    </p> 
		                    <p class="gotham-rounded-light clr-white blog-mar">
		                      {{post.The_New_Use_Experience}}
		                    </p>  
		                    <a href="{{post.permalink}}" class="blog-a">Read more</a>    
		                  </div>
		                </div>    
		                
		              </div>


		            </div>
		              <div class="row " >
		              <div class="col-lg-4 blog2-div1" >
		              	{% elsif my_variable == 3 %}
		                <div class=" half-height " class="expand-the-div" id="blog2-div1-part2">
		                  <div   class="part1" >
		                    <img class="blog-img" src="/assets/img/landingpage/devops.svg">
		                    <div class="animate-arroww">
		                      <img class="main-animate-arrow" src="/assets/img/landingpage/Arrow.png" alt="">
		                    </div>  
		                        <p class="text-center gotham-rounded-bold clr-white header-links blog-category">{{post.category}}</p>
		                  </div>
		                  <div class="part2">
		                  	 <p class="gotham-rounded-bok hw-para clr-white  hr-display">
			                      {{post.blog_title}}
			                    </p> 
		                    <p class="gotham-rounded-light clr-white blog-mar">
		                      {{post.The_New_Use_Experience}}
		                    </p>  
		                    <a href="{{post.permalink}}" class="blog-a">Read more</a>    
		                  </div>
		                  
		                </div>    
		                
		              </div>
		              <div class="col-lg-4 blog2-div2">
		              	{% elsif my_variable == 4 %}
		                <div class=" half-height " id="blog2-div2-part2">
		                  <div   class="part1" >
		                    <img class="blog-img" src="/assets/img/landingpage/science.svg">
		                    <div class="animate-arroww">
		                      <img class="main-animate-arrow" src="/assets/img/landingpage/Arrow.png" alt="">
		                    </div>  
		                        <p class="text-center gotham-rounded-bold clr-white header-links blog-category">{{post.category}}</p>
		                  </div>
		                  <div class="part2">
		                  	 <p class="gotham-rounded-bok hw-para clr-white  hr-display">
			                      {{post.blog_title}}
			                    </p> 
		                    <p class="gotham-rounded-light clr-white blog-mar">
		                      {{post.The_New_Use_Experience}}
		                    </p>  
		                    <a href="{{post.permalink}}" class="blog-a">Read more</a>    
		                  </div>
		                </div>    
		                
		              </div>
		              <div class="col-lg-4 blog2-div3">
		              	{% elsif my_variable == 5 %}
		                <div class=" half-height " id="blog2-div3-part2">
		                  <div   class="part1" >
		                    <img class="blog-img" src="/assets/img/landingpage/mob.svg">
		                    <div class="animate-arroww">
		                      <img class="main-animate-arrow" src="/assets/img/landingpage/Arrow.png" alt="">
		                    </div>  
		                        <p class="text-center gotham-rounded-bold clr-white header-links blog-category">{{post.category}}</p>
		                  </div>
		                  <div class="part2">
		                  	 <p class="gotham-rounded-bok hw-para clr-white  hr-display">
			                      {{post.blog_title}}
			                    </p> 
		                    <p class="gotham-rounded-light clr-white blog-mar">
		                      {{post.The_New_Use_Experience}}
		                    </p>    
		                    <a href="{{post.permalink}}" class="blog-a">Read more</a>   
		                  </div>
		                </div>    
		                
		              </div>


		            </div>
		            {% endif %}

		            {% assign assign my_variable = my_variable | plus:1  %}
		            {% endfor %}
		          </div>    




				
			</section>
		<!-- end of section2-->

		<!-- section3 -->
			<section class="scroll-anim app-banner" data-value="4" id="product-banner">
				<div class="menu-hamberger" id="toggle3">
                <img src="/assets/img/landingpage/menu.svg" >
			</div>
			 <nav id="toc" class="on menu-hide3" style="right: 0px;">
    <p style="text-align:right;padding:10px;color:white;cursor: pointer" id="button4">&#10006;</p>
         <ul>
            <li>
                <a href="/portfolio">Portfolio</a></li>
            <li>
                <a class="active" href="/engage_us">Engage&nbspUs</a></li>
            <li>
                <a href="/casestudy">Case&nbspStudy</a></li>
            <li>
                <a href="/company">Company</a></li>
            <li>
                <a href="/blog">Blog</a></li>
        	<li>
                <a href="/job_board">Job&nbspBoard</a></li>
       		
        </ul>
   </nav>
				<svg xmlns="http://www.w3.org/2000/svg">
					<symbol id="cloud-1" viewBox="0 0 39.22 12.24"><path d="M32.942 5.963c-1.212 0-2.34.35-3.3.944C27.66 2.823 23.486 0 18.64 0 14.074 0 10.1 2.504 7.996 6.208c-.547-.156-1.123-.245-1.72-.245C2.81 5.963 0 8.773 0 12.24h39.218c.002-3.467-2.81-6.277-6.276-6.277z"/></symbol>
					<symbol id="cloud-2" viewBox="0 0 39.22 12.24"><path d="M32.942 5.963c-1.212 0-2.34.35-3.3.944C27.66 2.823 23.486 0 18.64 0 14.074 0 10.1 2.504 7.996 6.208c-.547-.156-1.123-.245-1.72-.245C2.81 5.963 0 8.773 0 12.24h39.218c.002-3.467-2.81-6.277-6.276-6.277z"/></symbol>
					<symbol id="cloud-3" viewBox="0 0 36.261 12.238"><path d="M29.984 5.962c-.848 0-1.654.17-2.393.475C25.526 2.605 21.477 0 16.815 0 11.16 0 6.414 3.84 5.01 9.05c-.453-.212-.952-.338-1.484-.338C1.58 8.712 0 10.292 0 12.238H36.26c0-3.466-2.81-6.276-6.276-6.276z"/></symbol>
					<symbol id="cloud-4" viewBox="0 0 36.261 12.238"><path d="M29.984 5.962c-.848 0-1.654.17-2.393.475C25.526 2.605 21.477 0 16.815 0 11.16 0 6.414 3.84 5.01 9.05c-.453-.212-.952-.338-1.484-.338C1.58 8.712 0 10.292 0 12.238H36.26c0-3.466-2.81-6.276-6.276-6.276z"/></symbol>
				</svg>
				<div class="clouds">
					<svg class="icon cloud-1">  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-1" "=""></use></svg>

					<svg class="icon cloud-2">  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-2" "=""></use></svg>

					<svg class="icon cloud-3">  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-3" "=""></use></svg>

					<svg class="icon cloud-1">  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-1" "=""></use></svg>

					<svg class="icon cloud-2">  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-2" "=""></use></svg>

					<svg class="icon cloud-4">  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-3" "=""></use></svg>
				</div>


				<div class="iphone"><img src="/assets/img/landingpage/Iphone.svg" id="big-phone">
						<div id="carousel-example-generic" class="carousel slide carousel-banner4" data-ride="carousel" > 
						<!-- Wrapper for slides -->
					      <div class="carousel-inner" role="listbox">
					        <div class="item active">
					          <img src="/assets/img/landingpage/s1.svg" alt="...">
					        </div>
					        <div class="item">
					          <img src="/assets/img/landingpage/s2.svg" alt="...">
					        </div>
					         <div class="item">
					          <img src="/assets/img/landingpage/s3.svg" alt="...">
					        </div>
					      </div>
					    </div>
										

				  </div><!--end of iphone -->

				<div class="idesktop"><img src="/assets/img/landingpage/Idesktop.svg" id="big-desk">
					<div id="carousel-example-generic" class="carousel slide carousel-banner4" data-ride="carousel" > 
						<!-- Wrapper for slides -->
					      <div class="carousel-inner" role="listbox">
					        <div class="item active">
					          <img src="/assets/img/landingpage/Voler_logo_Background.svg" alt="...">
					        </div>
					        <div class="item">
					          <img src="/assets/img/landingpage/LV_logo_Background.svg" alt="...">
					        </div>
					         <!-- <div class="item">
					          <img src="/assets/img/landingpage/s3.svg" alt="...">
					        </div> -->
					      </div>
					  </div>
				</div><!--end of idesktop-->
				<div class="ipad"><img src="/assets/img/landingpage/Ipad.svg" id="big-ipad">
					<div id="carousel-example-generic" class="carousel slide carousel-banner4" data-ride="carousel" > 
						<!-- Wrapper for slides -->
					      <!-- <div class="carousel-inner" role="listbox">
					        <div class="item active">
					          <img src="/assets/img/landingpage/s1.svg" alt="...">
					        </div>
					        <div class="item">
					          <img src="/assets/img/landingpage/s2.svg" alt="...">
					        </div>
					         <div class="item">
					          <img src="/assets/img/landingpage/s3.svg" alt="...">
					        </div>
					      </div> -->
					    </div>
				</div>

		
      
    
    
    
    
    

				<div class="banner3-text">
					<h1 class="gotham-rounded-bok hw-main-heading clr-white cust-margin">{{site.data.Home_page.home_page.banner3[0].content}} </h1>
					<div class="responsive hr-display">
						<span class="mobile-hover"><img src="/assets/img/landingpage/Responsive_Mobile_Icon.svg" class="res1 "></span>
						<span class="desk-hover"><img src="/assets/img/landingpage/Responsive_Desktop_Icon.svg" class="res2"></span>
						<span class="ipad-hover"><img src="/assets/img/landingpage/Responsive_Tablet_Icon.svg" class="res3"></span>
					</div>
				</div>

			</section>
		<!-- end of section3-->

		

		{% include homepage-head.html %}

	</div>
</main>	



{% include footer.html %}
<script type="text/javascript">
          // $(document).ready(function () {
          //   $('#shell img').plaxify()
          //   $.plax.enable()
          // })
        </script>  