{% include header.html %}

<main>

	<!-- indicators -->
		<ul class="scroll-indicators">

			<li class="active" data-tab="1">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label">New Age</span>
				</a>
			</li>
			<li data-tab="2">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label">label2</span>
				</a>
			</li>
			<li data-tab="3">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label">label3</span>
				</a>
			</li>
			<li data-tab="4">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label">Service Delivery</span>
				</a>
			</li>
			<li data-tab="5">
				<a href="javascript:void(0)">
					<span class="hw-dot"></span>
					<span class="hw-label">Follow Us</span>
				</a>
			</li>
		</ul>
	<!-- End of indicators -->

	<div class="hw-scroll">

		<section class="scroll-anim active" data-value="1">
			<div>
				<div class="hm-text hm-text1">
					<h1 class="text-center gotham-rounded-bok hw-carousel-heading clr-white">Digital products & services for high velocity,<br> software driven business</h1>
				</div>
				{% include homepage-head.html %}
			</div>
		</section><!-- end of section1-->

		<section class="scroll-anim" data-value="2">
			<div>
				<div class="hm-text latest-think">
					<h1 class="gotham-rounded-bok hw-carousel-heading">Latest Thinking </h1>
					<p class="hw-para gotham-rounded-light">Optimize your business performance while challenging<br>the conventional to drive innovation for tomorrow.</p>
					<p class="dive "><a href="" class="text-uppercase gotham-rounded-bold">DIVE DEEPER</a></p>
				</div>
				{% include homepage-head.html %}
			</div>
		</section><!-- end of section-->

		<section class="scroll-anim" data-value="3">
			<div>
				<div class="hm-text latest-think">
					<h1 class="gotham-rounded-bok hw-carousel-heading">Customer Happiness </h1>
					<p class="hw-para gotham-rounded-light">Optimize your business performance while challenging<br>the conventional to drive innovation for tomorrow.</p>
					<p class="dive "><a href="" class="text-uppercase  gotham-rounded-bold">DIVE DEEPER</a></p>
				</div>
				{% include homepage-head.html %}
			</div>
		</section><!-- end of section3-->

		<section class="scroll-anim" data-value="4">
			
				<div class="hm-text latest-think hm-service">
					<h1 class=" gotham-rounded-bok hw-carousel-heading">Service Delivery</h1>
					<p class="hw-para gotham-rounded-light">Optimize your business performance while challenging<br> the conventional to drive innovation for tomorrow.</p>
					<p class="dive "><a href="" class="text-uppercase gotham-rounded-bold">DIVE DEEPER</a></p>

					<div class="application">

						<div class="appln">
							<p class="clr-white gotham-rounded-bok hr-display">Application<br> Statergies</p>
						</div><!-- end of appln-->
							
							<div class="appln-statergies hide">
								<div class="hm-arrow"></div>
								<p class="gotham-rounded-bok">We are your value partners, explore... </p>
								<div class="col-lg-6">
									<ul class="gotham-rounded-light hw-contact-no">
										<li>Experience Design</li>
										<li>Agile Thinking</li>
										<li>Borderless Business</li>
										<li>Engineering Practice</li>
										<li>Intelligent Infrastructure</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="gotham-rounded-light hw-contact-no">
										<li>Software Intelligence</li>
										<li>Eco-system Connected</li>
										<li>Fluid Architecture</li>
										<li>Business on cloud</li>
									</ul>
								</div>		
							</div>

						<div class="it-solution">
							<p class="clr-white gotham-rounded-bok hr-display">IT Solutions</p>
						</div>
						
						<div class="it-solutions hide">
							<div class="hm-arrow hm_it"></div>
							<p class="gotham-rounded-bok">Our IT Solutions</p>
							<div class="col-lg-3">
								<ul class="gotham-rounded-light hw-contact-no">
									<li>Platform Integration</li>
									<li>SOA</li>
									<li>Micro Services</li>
									<li>ETL</li>
									<li>Data Processing</li>
								</ul>
							</div>
							<div class="col-lg-3">
								<ul class="gotham-rounded-light hw-contact-no">
									<li>Engineering Practice</li>
									<li>DevOps</li>
									<li>Performance Engg.</li>
									<li>Test Automation</li>
									<li>Agile Testing</li>
								</ul>
							</div>	
							<div class="col-lg-3">
								<ul class="gotham-rounded-light hw-contact-no">
									<li>Mobility/Big Data</li>
									<li>Enterprise Mobility</li>
									<li>Operational Analytics</li>
									<li>Predictive Analysis</li>
									<li>Consumer Apps</li>
								</ul>
							</div>
							<div class="col-lg-3">
								<ul class="gotham-rounded-light hw-contact-no">
									<li>UI/UX</li>
									<li>Visual Design</li>
									<li>FrontEnd Dev.</li>
									<li>Data Visualization</li>
									<li>Reporting Dashboard </li>
								</ul>
							</div>			
						</div>
					</div><!-- end of application-->	
				</div>
			
				{% include homepage-head.html %}
			
		</section><!-- end of section4-->

		<section class="scroll-anim" data-value="5">
			<div class="hm-text follow">
				<h1 class="gotham-rounded-bok hw-carousel-heading">Follow Us</h1>
				<p class="hw-para gotham-rounded-light">We're active in the same channels you use most frequently.<br> Follow us and stay informed.</p>
				<p class="dive "><a href="" class="dive gotham-rounded-bold">Get Connected</a></p>
			</div>
			{% include homepage-head.html %}
		</section><!-- end of section5-->

	</div>
</main>	



{% include footer.html %}