{% include header.html %}

<main>
   <!-- engages carouel -->	
	<div class="container">

		<div class="row">

			<div class="col-lg-7">

			</div>

			<div class="col-lg-5">

			</div>

		</div>

	</div>
	<!-- end of engages carousel-->

	<!-- fixed div-->
		<div>
			<p class="gotham-rounded-light font-30 log-clr-backgrnd clr-white h-approch">Hashwoks approach to application development eco-system is..</p>
		</div>
	<!-- end of fixed tab-->

	<!-- categories -->

		<div class="container-fluid  div-margin-left">

			<!-- hw-engage-cont -->
				<div class="hw-engage-cont">
					<!-- row one-->
						<div class="row ">

							<div class="col-lg-7">
								<h2 class="gotham-rounded-bok font-40 h2-color">Consulting</h2>
								<div class="div-border-left">
									<p class="font-22 gotham-rounded-light para">{{site.data.engageus.consulting}}
									</p>
								</div>
								<button class="custom-btn"><a href='/consulting'>know more</a></button>
							</div>

							<div class="col-lg-5">
								<div class="img-right img-outer">
									<img src="/assets/img/homepage/it-services.jpg"  alt="it-service">
								</div>
							</div>

						</div>
					<!--end of row1-->
				</div>
			<!-- End of hw-engage-cont -->

			<!-- hw-engage-cont -->
				<div class="hw-engage-cont">
					<!-- row 2 -->
						<div class="row">

							<div class="col-lg-5">
								<div class="img-outer">
									<img src="/assets/img/homepage/job-board.jpg"  alt="it-service">
								</div>
							</div>

							<div class="col-lg-7">
								<h2 class="gotham-rounded-bok font-40 h2-color">Managed Services</h2>
								<div class="div-border-left">
									<p class="font-22 gotham-rounded-light para">{{site.data.engageus.managed_services}}
									</p>
								</div>
								<button class="custom-btn">know more</button>
							</div>

						</div>
					<!-- end of row2 -->
				</div>
			<!-- End of hw-engage-cont -->


			<!-- hw-engage-cont -->
				<div class="hw-engage-cont">
					<!-- row3-->
						<div class="row">

							<div class="col-lg-7">
								<h2 class="gotham-rounded-bok font-40 h2-color">Talent Acquistion</h2>
								<div class="div-border-left">
									<p class="font-22 gotham-rounded-light para">{{ site.data.engageus.talent_acquistion}}
									</p>
								</div>
								<button class="custom-btn">know more</button>
							</div>

							<div class="col-lg-5">
								<div class="img-right img-outer">
									<img src="/assets/img/homepage/it-services.jpg"  alt="it-service">
								</div>	
							</div>

						</div>
					<!--end of row3-->
				</div>
			<!-- hw-engage-cont -->

			<!-- hw-engage-cont -->
				<div class="hw-engage-cont">
					<!-- row 4 -->
						<div class="row">

							<div class="col-lg-5">
								<div class="img-outer">
									<img src="/assets/img/homepage/upskilling.jpg"  alt="it-service">
								</div>
							</div>

							<div class="col-lg-7">
								<h2 class="gotham-rounded-bok font-40 h2-color">Upskilling</h2>
								<div class="div-border-left">
									<p class="font-22 gotham-rounded-light para">{{ site.data.engageus.upskilling}}
									</p>
								</div>
								<button class="custom-btn">know more</button>
							</div>

						</div>
					<!-- end of row4 -->
				</div>
		<!-- End of hw-engage-cont -->

		</div>
		<!-- end of container-->

	<!-- end of categories -->

	<!-- clients -->
		<div class="client-backgrnd">
			<h2 class="gotham-rounded-bok font-40 text-center h2-color">Our Clients</h2>

			<div class= "carousel-border">
				<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
			   
			   		<div class="carousel-inner" role="listbox">
					    <div class="item active text-center">
					    	<div class="clients-img">
								<span class="clients-icon-rite"><img src="/assets/img/homepage/canon.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/nikon.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/manfrotto.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/prolight.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/manfrotto.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/prolight.png"></span>
					        </div>
						</div>

				      	<div class="item text-center">
					       	<div class="clients-img">
								<span class="clients-icon-rite"><img src="/assets/img/homepage/canon.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/nikon.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/manfrotto.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/prolight.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/manfrotto.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/prolight.png"></span>
					        </div>
				      	</div>
					</div>

				    <a class="left carousel-control carousel-width" href="#myCarousel" role="button" data-slide="prev">
				      <span aria-hidden="true"> <i class="fa fa-angle-left angle-clr"></i></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="right carousel-control carousel-width" href="#myCarousel" role="button" data-slide="next">
				      <span aria-hidden="true">  <i class="fa fa-angle-right angle-clr"></i></span>
				      <span class="sr-only">Next</span>
				    </a>
			 	</div>

			</div> 	
		</div>

	<!-- end of clients-->

</main>	

{% include footer.html %}