{% include header.html %}
<main>
<h1 class="text-center gotham-rounded-bok heading"> Casestudy</h1>
		<div class="line"></div>
		<div class="carousel-padding">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

	   		<div class="container heading-caro-padd">
			    <!-- Wrapper for slides -->
			    <div class="carousel-inner" role="listbox">

			      {% for cont in site.data.Carousel.carousel.carousel_content%}
							       {% if forloop.first %}
							  	<div class="item active">
							      <p class=" gotham-rounded-bok font-30">
							       {{ cont.content}}
							      </p>
							    </div>
								{% else %}
							   <div class="item">
							       <p class=" gotham-rounded-bok font-30">
							       		 {{ cont.content}}
							      	</p>
							    </div>
								{% endif %}
							    {% endfor %}
			    
			    </div>

			</div>
		</div>
	 	</div>
	<!-- end of carousel-->

	



	</main>	

{% include footer.html %}
