{% include header.html %}
<main>
	<section class="banner">
		<div class="casestudy-img">
			<div class="container-fluid">
				<div class="row">

					<div class="columns-12">

						<div class="banner-outer">

							<div class="banner-inner">

								<h1 class="clr-white">Case Study</h1>
							</div>

						</div>

					</div>

				</div>
			</div>

		</div>

		<!-- about -->
			<div class="container">
				<div class="columns-8 column-center">
					<h1 class="text-uppercase hw-heading">About The Company</h1>
					<p class="hw-para gotham-rounded-bok">The Deeley Motorcycle Exhibition Museum houses the largest private collection of motorcycles in all of Canada. Their Vancouver facilities function as both a gallery and a unique conference centre for local businesses. Their modern space is sure to  appeal to anyone with a penchant for speed, power or the sheer elegance of beautifully designed machinery.  </p>
				</div>
			</div>
		<!-- End of about -->


		<!-- objectives -->
			<div class="container">
				<div class="columns-8 column-center">
					<div class="row">
						<div class="col-lg-6">
							<h1 class="text-uppercase hw-heading">OBJECTIVES</h1>
							<ul class="objectives casestudy-ul-det">
								<li><p class="gotham-rounded-light hw-copyright clr-black">Build a user experience and content strategy to drive membership</p></li>
								<li><p class="gotham-rounded-light hw-copyright clr-black">Build a user experience and content strategy to drive membership</p></li>
								<li><p class="gotham-rounded-light hw-copyright clr-black">Build a user experience and content strategy to drive membership</p></li>
							</ul>
						</div>
						<div class="col-lg-6">
							<p class="gotham-rounded-bold hw-para">REQUIREMENTS</p>
							<ul class="requirements casestudy-ul-det">
								
								<li><p class="gotham-rounded-light  hw-copyright clr-black">Build a user experience</p></li>
								<li><p class="gotham-rounded-light  hw-copyright clr-black">Build a user experience</p></li>
								<li><p class="gotham-rounded-light  hw-copyright clr-black">Build a user experience</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		<!-- End of objectives -->

	<div class="phase1">
	</div>

	</section>
	
	



	
	</main>	

{% include footer.html %}

<script>
		// $(document).ready(function(){

		// 	//filter only for category
		// 	$("#cat > option").click(function() {
		// 		//option value attribute 
		// 		var val = $(this).attr('value');
		// 		//option value is present in .hw-filter-li.(option value) then that li will show
		// 	    $(".hw-filter-li." + val).show();
		// 	    //option value is not present in .hw-filter-li.(option value) then that li will hide
		// 	    $(".blog-grid > .hw-filter-li:not(." + val + ")").hide();
		// 	});

		// });
	</script>