{% include header.html %}
<main>



	<section class="banner">
		<div class="casestudy-img">
			<div class="banner-inner">
				<h1 class="clr-white">Case Study</h1>
			</div>
		</div>

		<div class="container nav-cs-margin">
			<div class="row">
				<div class="col-lg-12">
					<p class="gotham-rounded-bok hw-para para-padding">Tackling each project with passion and determination, in the world of web design, we’ve been working hard to turn heads. Here’s a few of our projects that not only command the user’s attention, but have driven a minimum of a 40% increase in organic search traffic. </p>
				</div>
			</div>
		</div>
		<!--tabs-->
	<div class="bs-example line-padding service-tab">
			<div class="container">

			    <ul class="nav  full-border" id="case-study-active">
			    	
			        <li class="col-lg-4 li-border"><a class="hr-display"  data-toggle="tab" data-toggle="collapse" href="#accelerate-business" >
			        	<p class="text-center gotham-rounded-bold clr-black">Business Value</p> </a>
					</li>
			        
			        <li class="col-lg-4 li-border"><a  class="hr-display" data-toggle="tab" data-toggle="collapse" href="#offerings" >
			     	 <p class="text-center gotham-rounded-bold clr-black">We partner</p> 
	                          
						</a>
			        </li>

			        <li class="col-lg-4"><a  class="hr-display" data-toggle="tab"  href="#engageus" >
			        <p class="text-center gotham-rounded-bold clr-black">Engagment Model</p> 
	                         
						</a>
			        </li>

			    </ul>

			</div> <!--end of contaier-fuild of tab heading-->

			<!-- tab-content -->
		    <div class="tab-content">
		    	
		    	<!-- tab1 -->
					<div id="accelerate-business" class="tab-pane fade ">
						<div class="container">
							<ul>
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="education">Education	</a>
								</li>
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="event">Event</a>
								</li>
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="industrial">Industrial</a>
								</li>
														
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="non-profit">Non Profit</a>
								</li>
								
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="retail">Retail</a>
								</li>
								
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="sales-marketing">Sales &amp; Marketing</a>
								</li>

								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="education">Education	</a>
								</li>
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="event">Event</a>
								</li>
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="industrial">Industrial</a>
								</li>
														
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="non-profit">Non Profit</a>
								</li>
								
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="retail">Retail</a>
								</li>
								
								<li class="text-center block-grid">
									<a href="#" data-filter="industries" data-key="sales-marketing">Sales &amp; Marketing</a>
								</li>
														
														
							</ul>

						</div>
					
					</div>
				<!-- end of tab1-->

			<!-- tab2 -->
				<div id="offerings" class="tab-pane fade in ">
					<div class="container">
						<ul>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="education">Education	</a>
							</li>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="event">Event</a>
							</li>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="industrial">Industrial</a>
							</li>
													
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="non-profit">Non Profit</a>
							</li>
							
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="retail">Retail</a>
							</li>
							
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="sales-marketing">Sales &amp; Marketing</a>
							</li>

							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="education">Education	</a>
							</li>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="event">Event</a>
							</li>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="industrial">Industrial</a>
							</li>
													
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="non-profit">Non Profit</a>
							</li>
							
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="retail">Retail</a>
							</li>
							
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="sales-marketing">Sales &amp; Marketing</a>
							</li>
													
													
						</ul>

					</div>
				</div>
			<!-- end of tab2-->


			<!-- tab3 -->
				<div id="engageus" class="tab-pane fade in ">
					<div class="container">
						<ul>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="education">Education	</a>
							</li>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="event">Event</a>
							</li>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="industrial">Industrial</a>
							</li>
													
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="non-profit">Non Profit</a>
							</li>
							
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="retail">Retail</a>
							</li>
							
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="sales-marketing">Sales &amp; Marketing</a>
							</li>

							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="education">Education	</a>
							</li>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="event">Event</a>
							</li>
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="industrial">Industrial</a>
							</li>
													
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="non-profit">Non Profit</a>
							</li>
							
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="retail">Retail</a>
							</li>
							
							<li class="text-center block-grid">
								<a href="#" data-filter="industries" data-key="sales-marketing">Sales &amp; Marketing</a>
							</li>
													
													
						</ul>

					</div>
					
				</div>
			<!-- end of tab3-->
			    
			</div>
		</div><!-- end of the tab-->





	</section>
	
	<div class="casestudy-ul">
	<ul class="blog-grid clearfix">
		{% for navcasestudy in site.casestudy  %}
     	
		<li class="hw-filter-li {{navcasestudy.tag}}">
			<div class="image-wrapper">
				<img width="" height="" alt="" src="http://forgeandsmith.com/wp-content/uploads/2015/12/Top-Tweets-Thumb.jpg">
				<div class="blog-post-meta">
					<h2  class=" gotham-rounded-bok hw-copyright">{{navcasestudy.title}}</h2>
					<a href="{{navcasestudy.url}}" class="button">View Article</a>
					<p class=" gotham-rounded-bok hw-copyright">{{navcasestudy.tag}}</p>
				</div>
			</div>
		</li>
		
		{% endfor %}
 
		<!-- {% assign navcasestudys = site.casestudy | group_by: "category"  %}
     	{% for navcasestudy in navcasestudys %}
        {%if navcasestudy.category == trending %}
		<li class="hw-filter-li {{navcasestudy.tag}}">
			<div class="image-wrapper">
				<img width="" height="" alt="" src="http://forgeandsmith.com/wp-content/uploads/2015/12/Top-Tweets-Thumb.jpg">
				<div class="blog-post-meta">
					<h2>{{navcasestudy.title}}</h2>
					<a href="{{navcasestudy.url}}" class="button">View Article</a>
					<p>{{navcasestudy.tag}}</p>
				</div>
			</div>
		</li>
		{% endif %}
		{% endfor %}


		{% assign groups = site.casestudy | group_by: "category"  %}
     	{% for navcasestudy in groups %}
        {%if navcasestudy.category == value_drivers %}
		<li class="hw-filter-li {{navcasestudy.tag}}">
			<div class="image-wrapper">
				<img width="" height="" alt="" src="http://forgeandsmith.com/wp-content/uploads/2015/12/Top-Tweets-Thumb.jpg">
				<div class="blog-post-meta">
					<h2>{{navcasestudy.title}}</h2>
					<a href="{{navcasestudy.url}}" class="button">View Article</a>
					<p>{{navcasestudy.tag}}</p>
				</div>
			</div>
		</li>
		{% endif %}
		{% endfor %}  -->		
	</ul>
</div>

	
	<script>
		// $(document).ready(function(){

		// 	//filter only for category
		// 	$("#cat > option").click(function() {
		// 		//option value attribute 
		// 		var val = $(this).attr('value');
		// 		//option value is present in .hw-filter-li.(option value) then that li will show
		// 	    $(".hw-filter-li." + val).show();
		// 	    //option value is not present in .hw-filter-li.(option value) then that li will hide
		// 	    $(".blog-grid > .hw-filter-li:not(." + val + ")").hide();
		// 	});

		// });
	</script>


	
	</main>	

{% include footer.html %}
