{% include header.html %}

<main>

   <h1 class="text-center gotham-rounded-bok heading hw-carousel-heading">Our Thinking</h1>

   		<div class="carousel-padding">
		   	<div class="line"></div>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="container heading-caro-padd">
				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">
				    	 {% for cont in site.data.Portfolio.carousel.carousel_content%}
					       {% if forloop.first %}
					  	<div class="item active">
					      <p class=" gotham-rounded-bok hw-para">
					       {{ cont.content}}
					      </p>
					    </div>
						{% else %}
					   <div class="item">
					       <p class=" gotham-rounded-bok hw-para">
					       		 {{ cont.content}}
					      	</p>
					    </div>
						{% endif %}
					    {% endfor %}
				    </div>
				</div>
			</div>
	 	</div>
	<!-- end of carousel-->
	
	<!--tabs-->
	<div class="bs-example line-padding service-tab">
			<div class="container">

		    <ul class="nav nav-tabs p-flex ">
		    	
		        <li class="active c-flex"><a class="hr-display"  data-toggle="tab" href="#accelerate-business" >
		        	<ul class="tab-img">
		        		<li  class="li-tab-mar"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
<g>
	
		<rect x="4" y="35.172" fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" width="11.284" height="38.495"/>
	
		<rect x="23.133" y="56.34" fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" width="11.285" height="17.327"/>
	
		<rect x="42.267" y="44.942" fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" width="11.283" height="28.725"/>
	
		<rect x="61.398" y="16.448" fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" width="11.285" height="57.219"/>
	<polyline fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" points="9.642,24.339 14.238,10.039 
		28.775,45.789 38.894,17.067 46.043,34.447 60.46,1 	"/>
</g>
</svg></li>
		        		<li class="gotham-rounded-light font-24">
                          <p class="text-center">Business Value</p> 
                          </li>
					</ul></a>
				</li>
		        
		        <li class="c-flex"><a  class="hr-display" data-toggle="tab" href="#offerings" >
		        	<ul class="tab-img">
		        		<li class="li-tab-mar"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
<g>
	<path fill="none" stroke="#000000" stroke-miterlimit="10" d="M62.948,31.953"/>
	<circle fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" cx="37.826" cy="10.684" r="5.607"/>
	<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M42.809,16.223
		c-1.301,1.232-3.051,1.992-4.981,1.992c-1.933,0-3.684-0.76-4.983-1.992c-2.619,1.656-4.363,4.568-4.363,7.896
		c0,5.493,18.69,5.493,18.69,0C47.171,20.792,45.427,17.879,42.809,16.223z"/>
	<g>
		<circle fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" cx="11.012" cy="51.73" r="5.607"/>
		<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M15.995,57.27
			c-1.3,1.231-3.05,1.993-4.982,1.993S7.33,58.501,6.03,57.27c-2.619,1.656-4.363,4.568-4.363,7.896c0,5.492,18.69,5.492,18.69,0
			C20.357,61.838,18.613,58.926,15.995,57.27z"/>
	</g>
	<g>
		<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M69.93,51.378
			c0,3.097-2.51,5.609-5.605,5.609c-3.1,0-5.608-2.513-5.608-5.609c0-3.098,2.509-5.607,5.608-5.607
			C67.42,45.771,69.93,48.28,69.93,51.378z"/>
		<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M69.307,56.918
			c-1.302,1.23-3.052,1.991-4.982,1.991c-1.934,0-3.684-0.761-4.983-1.991c-2.619,1.655-4.363,4.567-4.363,7.896
			c0,5.492,18.689,5.492,18.689,0C73.667,61.485,71.923,58.573,69.307,56.918z"/>
	</g>
	<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M25.787,58.949h24.079"/>
	<g>
		<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M27.141,13.211l-12.194,0.045
			c-2.24,0-4.054,1.815-4.054,4.053v24.076"/>
		<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M48.655,13.211l12.193,0.045
			c2.24,0,4.055,1.815,4.055,4.053v24.076"/>
	</g>
	<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M33.85,41.514
		c-0.627,0.627-1.648,0.627-2.275,0s-0.627-1.646,0-2.274c0.627-0.626,1.648-0.626,2.275,0
		C34.477,39.867,34.477,40.887,33.85,41.514z"/>
	<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M38.814,41.514
		c-0.627,0.627-1.648,0.627-2.275,0c-0.627-0.627-0.627-1.646,0-2.274c0.627-0.626,1.648-0.626,2.275,0
		C39.442,39.867,39.442,40.887,38.814,41.514z"/>
	<path fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" d="M43.779,41.514
		c-0.628,0.627-1.648,0.627-2.276,0c-0.626-0.627-0.626-1.646,0-2.274c0.628-0.626,1.648-0.626,2.276,0
		C44.405,39.867,44.405,40.887,43.779,41.514z"/>
</g>
</svg>
</li>
		        		<li class="gotham-rounded-light font-24">
                          <p class="text-center">We Partner To</p></li> 
                          
					</ul></a>
		        </li>

		        <li class="c-flex"><a  class="hr-display" data-toggle="tab" href="#engageus" >
		        	<ul class="tab-img" >
		        		<li class="li-tab-mar"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
<circle fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" cx="21.358" cy="23.637" r="20.357"/>
<circle fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" cx="53.381" cy="23.637" r="20.357"/>
<circle fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" cx="37.368" cy="52.255" r="20.356"/>
</svg>
</li>
		        		<li class="gotham-rounded-light font-24">
                          <p class="text-center">Engagment Model</p></li>
                          
					</ul></a>
		        </li>

		        <li class="c-flex"><a  class="hr-display" data-toggle="tab" href="#deliver">
		        	<ul class="tab-img" >
		        		<li class="li-tab-mar"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="24.667" y1="38.564" x2="37.5" y2="38.564"/>
<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18.25" y1="31.981" x2="18.25" y2="23.191"/>
<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="52.834" y1="62.148" x2="52.834" y2="53.358"/>
<g>
	
		<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29.682" y1="4.454" x2="48.167" y2="4.454"/>
	
		<circle fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="50.618" cy="4.453" r="2.199"/>
</g>
<g>
	
		<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29.125" y1="11.454" x2="40.167" y2="11.454"/>
	
		<circle fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="42.618" cy="11.453" r="2.199"/>
</g>
<g>
	
		<line fill="none" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="46.983" y1="67.992" x2="35.941" y2="67.992"/>
	
		<circle fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="33.491" cy="67.991" r="2.199"/>
</g>
<path fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M24.18,37.968c0,3.145-2.551,5.699-5.694,5.699c-3.146,0-5.7-2.555-5.7-5.699c0-3.148,2.554-5.699,5.7-5.699
	C21.629,32.269,24.18,34.819,24.18,37.968z"/>
<path fill="none" stroke="#231F20" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M58.68,68.301c0,3.145-2.551,5.699-5.694,5.699c-3.146,0-5.7-2.555-5.7-5.699c0-3.148,2.554-5.699,5.7-5.699
	C56.129,62.602,58.68,65.152,58.68,68.301z"/>
<image overflow="visible" width="450" height="470" xlink:href="../../../../Users/Vignila sweet/AppData/Roaming/Skype/live#3az3vigneshwar/media_messaging/media_cache_v2/^017A4F20C7D8F9D0670E7716CC67DE23AC565EE2A736926A71^pimgpsh_fullsize_distr.jpg"  transform="matrix(0.1352 0 0 0.1352 -83.3335 25.3457)">
</image>
<rect x="7.815" y="1.524" fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" width="21.333" height="21.333"/>
<rect x="42.25" y="27.94" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.7998 48.7244)" fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" width="21.333" height="21.333"/>
<rect x="44.607" y="30.297" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.7999 48.7255)" fill="none" stroke="#231F20" stroke-linecap="round" stroke-miterlimit="10" width="16.62" height="16.618"/>
</svg>
</li>
		        		<li class="gotham-rounded-light font-24">
                          <p class="text-center">Delivery Model</p></li>
                          
					</ul></a>
		        </li>
		    </ul>

		</div> <!--end of contaier-fuild of tab heading-->

<!-- tab-content -->
		    <div class="tab-content">

				<!-- tab -->
			        <div id="accelerate-business" class="tab-pane fade in active">
			           <!-- categories -->
					       <div class="container">

								<!-- hw-engage-cont hw-service-details -->
									<div class="hw-engage-cont hw-service-details service-tab">
										<!-- row -->
											<div class="row">
												

												<div class="service-tabs-bars">
															<hr class="hr-line"/>
															<div class="service-icon22">
																<div class="service-iconss filter service-tabs-color1" data-tab="we_resolve">
																</div>
																<div class="service-tab-textt service22 "><p class="hw-copyright clr-black gotham-rounded-bok ">We Resolve</p>
																</div>
															</div>

															<div class="service-icon33">
																<div class="service-iconss filter service-tabs-color" data-tab="we_parctice">
																</div>
																<div class="service-tab-textt service33"><p class="hw-copyright clr-black gotham-rounded-bok ">We Practice</p>
																</div>
															</div>

															<div class="service-icon44">
																<div class="service-iconss filter service-tabs-color" data-tab="we_accelarat">
																</div>
																<div class="service-tab-textt service44"><p class="hw-copyright clr-black gotham-rounded-bok ">We Accelarate</p>
																</div>
															</div>
														</div> 
												<!-- custom-10 -->
													<div >

												

													<div class="resolve_tab filter-content active" data-value="we_resolve">

														<div class="row">
																
																<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_resolve.part1[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_resolve.part1[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_resolve.part2[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_resolve.part2[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_resolve.part3[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_resolve.part3[0].content}}</p>
														</div>									
													</div>

															</div><!--end of row-->


														<div class="row partner-row">
																
																<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_resolve.part4[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_resolve.part4[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_resolve.part5[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_resolve.part5[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_resolve.part6[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_resolve.part6[0].content}}</p>
														</div>									
													</div>
												</div><!--end of row2-->
											</div><!--end of we resolve-->

													<div class="resolve_tab filter-content" data-value="we_parctice">
															
														<div class="row">
																
																<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_practice.part1[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_practice.part1[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_practice.part2[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_practice.part2[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_practice.part3[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_practice.part3[0].content}}</p>
														</div>									
													</div>

															</div><!--end of row-->


														<div class="row partner-row">
																
																<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_practice.part4[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_practice.part4[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_practice.part5[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_practice.part5[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_practice.part6[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_practice.part6[0].content}}</p>
														</div>									
													</div>

												</div><!--end of row2-->
											</div><!--end of we pratice-->

													<div class="resolve_tab filter-content" data-value="we_accelarat">


														<div class="row">
																
																<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_accelarate.part1[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_accelarate.part1[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_accelarate.part2[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_accelarate.part2[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_accelarate.part3[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_accelarate.part3[0].content}}</p>
														</div>									
													</div>

															</div><!--end of row-->


														<div class="row partner-row">
																
																<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_accelarate.part4[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_accelarate.part4[0].content}}</p>
														</div>									
													</div>

													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_accelarate.part5[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_accelarate.part5[0].content}}</p>
														</div>									
													</div>
													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Business.we_accelarate.part6[0].title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{site.data.our_thinking.Business.we_accelarate.part6[0].content}}</p>
														</div>									
													</div>
												</div><!--end of row2-->
												</div><!--end of we accelarate-->
												</div>
											</div>
								<!-- End of hw-engage-cont hw-service-details -->
										</div>
									</div>
						        <!-- end of container-->
							</div>
		   		        <!-- end of tab1 -->



		   		<!-- tab -->
			        <div id="offerings" class="tab-pane fade in">
			           <!-- categories -->
					       <div class="container">

								<!-- hw-engage-cont hw-service-details -->
									<div class="hw-engage-cont hw-service-details">
										
										<!-- row -->
												<div class="row clearfix">

													{% for tablist in site.data.our_thinking.we_partner.we_partner  %}
													{% if forloop.first %}
													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{ tablist.title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{ tablist.content}}</p>
														</div>									
													</div>
													{% else %}
													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{ tablist.title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{ tablist.content}}</p>
														</div>									
													</div>
													{% endif %}
													{% endfor %}

													
												</div><!--End of row-->
										
												<!-- row -->
												<div class="row clearfix partner-row">

													{% for tablist in site.data.our_thinking.we_partner.we_partner1 %}
													{% if forloop.first %}
													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{ tablist.title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{ tablist.content}}</p>
														</div>									
													</div>
													{% else %}
													<div class="col-lg-4 service-col-padding ">
														<div class="partner-icon hr-display">
															<img src="{{ tablist.imagesrc }}">
														</div>
														<div class="partner-title">
															<p class="gotham-rounded-bold hw-heading text-center clr-black">{{ tablist.title}}</p>
														</div>
														<div class="partner-content">
															<p class="gotham-rounded-bok hw-copyright ">{{ tablist.content}}</p>
														</div>									
													</div>
													{% endif %}
													{% endfor %}

													
												</div><!--End of row-->
																				
									</div>
								<!-- End of hw-engage-cont hw-service-details -->


							</div>
						<!-- end of container-->

						</div>
		   		<!-- end of tab1 -->


		   		<!-- tab -->
			        <div id="engageus" class="tab-pane fade in">
			           <!-- categories -->
					       <div class="div-margin-left">

								<!-- hw-engage-cont hw-service-details -->
									<div class="hw-engage-cont hw-service-details">
										<!-- row -->
											<div class="row clearfix">
												<div>
													<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Engagement_model.engagement_model.title }}</p>
													<p class="gotham-rounded-bok hw-heading text-center">{{ site.data.our_thinking.Engagement_model.engagement_model.content }}</p>
												</div>
												<div class="hr-display service-img-mar">
												<img src="{{site.data.our_thinking.Engagement_model.engagement_model.imgsrc}}">
												</div>
											</div>
									</div>
							</div>
						</div>
		   		<!-- end of tab1 -->


		   		<!-- tab -->
			        <div id="deliver" class="tab-pane fade in">
			           <!-- categories -->
					       <div class="div-margin-left">

								<!-- hw-engage-cont hw-service-details -->
									<div class="hw-engage-cont hw-service-details">
										<!-- row -->
											<div class="row clearfix">
												<div>
													<p class="gotham-rounded-bold hw-heading text-center clr-black">{{site.data.our_thinking.Delivery_model.delivery_model.title }}</p>
													<p class="gotham-rounded-bok hw-heading text-center">{{ site.data.our_thinking.Delivery_model.delivery_model.content }}</p>
												</div>
												<div class="hr-display service-img-mar">
												<img src="{{site.data.our_thinking.Delivery_model.delivery_model.imgsrc}}">
												</div>
											</div>
										<!--End of row-->
									</div>
								<!-- End of hw-engage-cont hw-service-details -->


							</div>
						<!-- end of container-->

						</div>
		   		<!-- end of tab1 -->

	   		
		</div>
	<!-- end of tab-content -->


	
	<!-- Working with-->
		<div class="hw-tools">
			<p class="text-center gotham-rounded-light hw-main-heading log-clr-backgrnd clr-white h-approch">Tools and technologies we <i class="fa fa-heart"></i>  working with:</p>

			<!-- tools list -->
				<div class="hw-tools-list container">
					<!-- row -->
						<div class="row">

							<!-- hw-tolls-details -->
								<div class="col-lg-4">
									<ul class="hw-tools-details">
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/java.jpg" alt="java"></li>
												<li>Java</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/python.jpg" alt="python"></li>
												<li>Python</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/mean.jpg" alt="mean"></li>
												<li>MEAN stack</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/aws.jpg" alt="aws"></li>
												<li>AWS</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/hadoop.jpg" alt="hadoop"></li>
												<li>Apache Hadoop</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/d3.jpg" alt="d3"></li>
												<li>D3 js</li>
											</ul>
										</li>
									</ul>
								</div>
							<!-- End of hw-tools-details -->

							<!-- hw-tolls-details -->
								<div class="col-lg-4">
									<ul class="hw-tools-details">
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/html5.jpg" alt="html5"></li>
												<li>HTML 5</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/css3.jpg" alt="css3"></li>
												<li>CSS 3</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/sass.jpg" alt="sass"></li>
												<li>Sass</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/less.jpg" alt="less"></li>
												<li>Less</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/coffee-script.jpg" alt="coffee-script"></li>
												<li>CoffeeScript</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/android.jpg" alt="android"></li>
												<li>Android/ios</li>
											</ul>
										</li>
									</ul>
								</div>
							<!-- End of hw-tools-details -->

							<!-- hw-tolls-details -->
								<div class="col-lg-4">
									<ul class="hw-tools-details">
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/oracle.jpg" alt="orace"></li>
												<li>Oracel Suits</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/oracle-servicebus.jpg" alt="oracle-servicebus"></li>
												<li>Oracle Service Bus</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/redis.jpg" alt="redis"></li>
												<li>Redis</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/rabbit.jpg" alt="rabbit"></li>
												<li>RabbitMQ</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/socket.jpg" alt="socket"></li>
												<li>Socket.io</li>
											</ul>
										</li>
										<li>
											<ul class="clearfix">
												<li><img src="../assets/img/solutions/tools-technichs/pubnub.jpg" alt="pubnub"></li>
												<li>PubNub</li>
											</ul>
										</li>
									</ul>
								</div>
							<!-- End of hw-tools-details -->

						</div>
					<!-- End of row -->
				</div>
			<!-- End of tools list -->

		</div>
	<!-- End of Working with-->


	<!-- How we works -->
		<div class="client-backgrnd hw-works">
			<h2 class="gotham-rounded-bok hw-heading text-center h2-color">How We Work</h2>
				
			<!-- hw-works-row	 -->
				<div class="hw-works-row container-fluid">
					<!-- row -->
						<div class="row">

							<div class="col-20">
								<div class="hw-work-cont arrow-top">
									<div class="img-outer">
										<img src="/assets/img/solutions/book.png" alt="book">
									</div>
									<div class="hw-work-details">
										<h3 class="text-uppercase">Learn</h2>
										<p>Learn unique business problems by tapping the knowledge of the business climate & technology</p>
									</div>
								</div>
							</div>

							<div class="col-20">
								<div class="hw-work-cont arrow-bottom">
									<div class="img-outer">
										<img src="/assets/img/solutions/beaker.png" alt="beaker">
									</div>
									<div class="hw-work-details">
										<h3 class="text-uppercase">Research</h2>
										<p>Every customer engagement will undergo the process of learning their business & market trends with bench marking</p>
									</div>
								</div>
							</div>

							<div class="col-20">
								<div class="hw-work-cont arrow-top">
									<div class="img-outer">
										<img src="/assets/img/solutions/bubble.png" alt="bubble">
									</div>
									<div class="hw-work-details">
										<h3 class="text-uppercase">Consult</h2>
										<p>Our specialists & technologists will reaffirm your business needs with their industry experience in designing an optimal IT solution</p>
									</div>
								</div>
							</div>

							<div class="col-20">
								<div class="hw-work-cont arrow-bottom">
									<div class="img-outer">
										<img src="/assets/img/solutions/build.png" alt="build">
									</div>
									<div class="hw-work-details">
										<h3 class="text-uppercase">Build</h2>
										<p>The development & test cycles will be short and rapid. Validate our deliverable in a continuous pipeline. We can quickly integrate your custom, legacy or enterprise class solutions</p>
									</div>
								</div>
							</div>

							<div class="col-20">
								<div class="hw-work-cont">
									<div class="img-outer">
										<img src="/assets/img/solutions/van.png" alt="van">
									</div>
									<div class="hw-work-details">
										<h3 class="text-uppercase">Deliver</h2>
										<p>Our test driven development model on Agile will ensure on-time delivery of your projects with world class performance & stability. Our solutions are highly scalable & portable</p>
									</div>
								</div>
							</div>

						</div>
					<!-- End of row -->
				</div>
			<!-- End of hw-works-row -->
			

	

</main>	

{% include footer.html %}
