{% include header.html %}

<main>

<h1 class="text-center gotham-rounded-bok heading"> Blog</h1>


	

   		<div class="carousel-padding">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

	   		<div class="container heading-caro-padd">
			    <!-- Wrapper for slides -->
			    <div class="carousel-inner" role="listbox">

			      {% for cont in site.data.Case_Study.carousel.carousel_content%}
							       {% if forloop.first %}
							  	<div class="item active">
							      <p class=" gotham-rounded-bok font-30">
							       {{ cont.content}}
							      </p>
							    </div>
								{% else %}
							   <div class="item">
							       <p class=" gotham-rounded-bok font-30">
							       		 {{ cont.content}}
							      	</p>
							    </div>
								{% endif %}
							    {% endfor %}
			    
			    </div>

			</div>

			<a class="left carousel-control carousel-indicatr-pos" href="#myCarousel" role="button" data-slide="prev">
			 <img src="/assets/img/consulting/carousel-indi-1.jpg" >
			<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control carousel-indicatr-pos" href="#myCarousel" role="button" data-slide="next">
			<img src="/assets/img/consulting/carousel-indi.jpg">
			<span class="sr-only">Next</span>
			</a>
	 	</div>
	 	</div>
	<!-- end of carousel-->
	

	<div class="line">
	</div>
	
<div class="container">

<div class="row post-top hw-post-info">
	
<ul  class="hr-display">
	<li>By Gopi</li>
	<li>Dec 2,2015</li>
	<li>3 Comments</li>
	<li>In:DESIGN,ART</li>
	<li>77</li>
</ul>


</div>


   <div class="row">



   	<div class="col-md-8">
   		
       <div class="post-title">
           UT INTERN TOTTOR EU SAPIEN MATIS
	</div>
    <div class="post-img">

    	<img src="/assets/img/case-study/banner1.jpg">
     
   	</div>
<div class="post-content">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eveniet, magnam itaque beatae sint consequatur impedit a inventore et, natus voluptatem qui, laborum dignissimos! Deleniti, veritatis labore esse sunt doloremque fugit, suscipit animi aperiam repellat expedita, provident vitae. 
<p>Quos quae unde ipsum consequatur     excepturi sequi atque perspiciatis a, assumenda! Perferendis deleniti illum, molestias omnis doloribus voluptas possimus, neque eius accusantium vero molestiae, unde alias nobis recusandae dolor facere sint eligendi totam quos laudantium excepturi. Laudantium accusamus laboriosam voluptates ipsum omnis, commodi pariatur vero. Possimus eligendi a, quasi eum minus enim dolor fugit alias doloribus officiis modi numquam nemo voluptas laudantium?</p>

</div>


<div class="comments">
	

   
   {%include disqus.html%}



</div>

<!-- end og left-pane -->
</div>

<!-- right-pane -->
   	<div class="col-md-4"></div>




   
	








</div>
<!-- end of right-pane -->

</main>
{% include footer.html %}